<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>wangguangwu</servlet-name>
        <servlet-class>com.wangguangwu.server.servlet.impl.WangServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>wangguangwu</servlet-name>
        <url-pattern>/wang</url-pattern>
    </servlet-mapping>
</web-app>